
[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast = false
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.public_fields_rule.severity = warning
dotnet_naming_rule.public_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols = public_fields_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = none
dotnet_naming_rule.unity_serialized_field_rule.style = upper_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_accessor_owner_body = accessors_with_expression_body
resharper_align_multiline_binary_expressions_chain = false
resharper_apply_auto_detected_rules = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_before_single_line_comment = 1
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_namespace = 2
resharper_csharp_blank_lines_around_type = 2
resharper_csharp_max_line_length = 200
resharper_csharp_stick_comment = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_default_value_when_type_evident = default_expression
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_directives = normal
resharper_keep_existing_embedded_arrangement = false
resharper_local_function_body = expression_body
resharper_object_creation_when_type_evident = explicitly_typed
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_after_cast = false
resharper_use_indent_from_vs = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_xmldoc_indent_text = ZeroIndent

# ReSharper inspection severities
resharper_annotate_can_be_null_parameter_highlighting = hint
resharper_annotate_can_be_null_type_member_highlighting = hint
resharper_annotate_not_null_parameter_highlighting = hint
resharper_annotate_not_null_type_member_highlighting = hint
resharper_annotation_redundancy_in_hierarchy_highlighting = none
resharper_arguments_style_anonymous_function_highlighting = suggestion
resharper_arguments_style_literal_highlighting = suggestion
resharper_arguments_style_named_expression_highlighting = suggestion
resharper_arguments_style_other_highlighting = suggestion
resharper_arguments_style_string_literal_highlighting = suggestion
resharper_arrange_attributes_highlighting = suggestion
resharper_arrange_constructor_or_destructor_body_highlighting = suggestion
resharper_arrange_default_value_when_type_not_evident_highlighting = suggestion
resharper_arrange_local_function_body_highlighting = suggestion
resharper_arrange_method_or_operator_body_highlighting = suggestion
resharper_arrange_object_creation_when_type_not_evident_highlighting = suggestion
resharper_arrange_static_member_qualifier_highlighting = suggestion
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = suggestion
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = suggestion
resharper_auto_property_can_be_made_get_only_local_highlighting = hint
resharper_check_namespace_highlighting = suggestion
resharper_class_can_be_sealed_global_highlighting = suggestion
resharper_class_can_be_sealed_local_highlighting = warning
resharper_cognitive_complexity_highlighting = hint
resharper_compare_non_constrained_generic_with_null_highlighting = warning
resharper_convert_conditional_ternary_expression_to_switch_expression_highlighting = suggestion
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = none
resharper_convert_if_statement_to_null_coalescing_assignment_highlighting = hint
resharper_convert_if_statement_to_return_statement_highlighting = none
resharper_convert_to_auto_property_highlighting = hint
resharper_convert_to_auto_property_when_possible_highlighting = suggestion
resharper_convert_to_compound_assignment_highlighting = suggestion
resharper_convert_to_lambda_expression_when_possible_highlighting = suggestion
resharper_convert_to_local_function_highlighting = hint
resharper_convert_to_null_coalescing_compound_assignment_highlighting = hint
resharper_convert_to_using_declaration_highlighting = hint
resharper_enforce_do_while_statement_braces_highlighting = suggestion
resharper_enforce_fixed_statement_braces_highlighting = suggestion
resharper_enforce_foreach_statement_braces_highlighting = suggestion
resharper_enforce_for_statement_braces_highlighting = suggestion
resharper_enforce_if_statement_braces_highlighting = suggestion
resharper_enforce_lock_statement_braces_highlighting = suggestion
resharper_enforce_using_statement_braces_highlighting = suggestion
resharper_enforce_while_statement_braces_highlighting = suggestion
resharper_field_can_be_made_read_only_global_highlighting = hint
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_for_can_be_converted_to_foreach_highlighting = none
resharper_function_complexity_overflow_highlighting = warning
resharper_inheritdoc_consider_usage_highlighting = hint
resharper_inline_temporary_variable_highlighting = suggestion
resharper_invalid_xml_doc_comment_highlighting = hint
resharper_invert_if_highlighting = none
resharper_invocation_is_skipped_highlighting = suggestion
resharper_join_null_check_with_usage_highlighting = none
resharper_join_null_check_with_usage_when_possible_highlighting = suggestion
resharper_local_function_can_be_made_static_highlighting = suggestion
resharper_loop_can_be_converted_to_query_highlighting = none
resharper_member_can_be_made_static_global_highlighting = suggestion
resharper_member_can_be_made_static_local_highlighting = suggestion
resharper_member_can_be_private_global_highlighting = hint
resharper_member_can_be_private_local_highlighting = hint
resharper_member_can_be_protected_global_highlighting = hint
resharper_merge_conditional_expression_when_possible_highlighting = suggestion
resharper_merge_into_pattern_highlighting = hint
resharper_merge_sequential_checks_highlighting = suggestion
resharper_merge_sequential_checks_when_possible_highlighting = hint
resharper_not_accessed_field_global_highlighting = hint
resharper_parameter_type_can_be_enumerable_global_highlighting = suggestion
resharper_parameter_type_can_be_enumerable_local_highlighting = suggestion
resharper_possible_null_reference_exception_highlighting = suggestion
resharper_redundant_array_creation_expression_highlighting = suggestion
resharper_redundant_attribute_parentheses_highlighting = suggestion
resharper_redundant_base_qualifier_highlighting = warning
resharper_redundant_collection_initializer_element_braces_highlighting = suggestion
resharper_redundant_declaration_semicolon_highlighting = suggestion
resharper_redundant_default_member_initializer_highlighting = none
resharper_redundant_empty_object_creation_argument_list_highlighting = suggestion
resharper_redundant_lambda_signature_parentheses_highlighting = suggestion
resharper_redundant_pattern_parentheses_highlighting = suggestion
resharper_redundant_to_string_call_for_value_type_highlighting = suggestion
resharper_remove_constructor_invocation_highlighting = suggestion
resharper_remove_redundant_braces_highlighting = suggestion
resharper_replace_auto_property_with_computed_property_highlighting = suggestion
resharper_replace_substring_with_range_indexer_highlighting = suggestion
resharper_return_type_can_be_enumerable_global_highlighting = none
resharper_return_type_can_be_enumerable_local_highlighting = none
resharper_separate_control_transfer_statement_highlighting = suggestion
resharper_similar_anonymous_type_nearby_highlighting = suggestion
resharper_specify_string_comparison_highlighting = suggestion
resharper_string_ends_with_is_culture_specific_highlighting = warning
resharper_string_starts_with_is_culture_specific_highlighting = warning
resharper_struct_can_be_made_read_only_highlighting = hint
resharper_suggest_base_type_for_parameter_highlighting = suggestion
resharper_suggest_discard_declaration_var_style_highlighting = suggestion
resharper_suggest_var_or_type_deconstruction_declarations_highlighting = none
resharper_switch_expression_handles_some_known_enum_values_with_exception_in_default_highlighting = suggestion
resharper_tail_recursive_call_highlighting = suggestion
resharper_try_statements_can_be_merged_highlighting = suggestion
resharper_unity_inefficient_property_access_highlighting = suggestion
resharper_unity_performance_critical_code_camera_main_highlighting = warning
resharper_unity_redundant_event_function_highlighting = suggestion
resharper_unused_member_global_highlighting = hint
resharper_unused_member_in_super_global_highlighting = hint
resharper_unused_member_local_highlighting = hint
resharper_unused_method_return_value_global_highlighting = hint
resharper_unused_type_global_highlighting = hint
resharper_unused_type_local_highlighting = suggestion
resharper_use_deconstruction_highlighting = suggestion
resharper_use_deconstruction_on_parameter_highlighting = suggestion
resharper_use_negated_pattern_in_is_expression_highlighting = none
resharper_use_negated_pattern_matching_highlighting = suggestion
resharper_use_null_propagation_highlighting = suggestion
resharper_use_positional_deconstruction_pattern_highlighting = suggestion
resharper_use_verbatim_string_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[{*.har,*.inputactions,*.json}]
indent_style = space
indent_size = 2

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[*.asmdef]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
